.featured-post-wrapper {
  margin-top: 40px;
  padding-top: 30px;
  border-top: 1px solid #eee;
}

.featured-blog__heading {
  display: inline-block;
  letter-spacing: 0.2em;
  line-height: 1;
  color: #000;
  padding-bottom: 2px;
  border-bottom: 4px solid #000;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.featured-post {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.blog-post__title {
  font-weight: 500;
  line-height: 1.4;

  a {
    text-decoration: none;
  }
}

.featured-post__image {
  flex: 1 1 auto;

  @media screen and (min-width: 740px) {
    flex: 1 1 40%;
  }
}

.featured-post__text {
  flex: 1 1 auto;
  padding: 0;

  @media screen and (min-width: 740px) {
    flex: 1 1 40%;
    padding-left: 30px
  }
}

.blog-post__date {
  display: block;
  margin-bottom: 16px;
  line-height: 1;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #aaa;
}