@import './utils/utils';

.site-header {
  padding: 20px 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.header__brand {
  padding-bottom: 10px;

  a {
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: $color-dark-gray;
    line-height: 1;

    @media screen and (min-width: 768px) {
      font-size: 2.2rem;
    }
  }

  span {
    font-weight: 700;
    color: $color-black;
  }
}
