.site-header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__brand {
  // text-align: center;
  // border-bottom: 1px solid #eee;
  padding-bottom: 10px;

  a {
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    color: lighten(#0e1e25, 20%);
    line-height: 1;
  }

  span {
    font-weight: 700;
    color: #0e1e25;
  }
}
