.nav {
  padding: 20px 0;
}

.nav__list {
  display: flex;
  // display: flex;
  // justify-content: flex-end;
  list-style: none;
  margin-left: auto;
}

.nav__item {
  margin: 0 10px;
  padding: 4px 10px;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    font-size: 1.5rem;

    &.active,
    &:hover {
      padding-bottom: 2px;
      border-bottom: 2px solid #222;
    }
  }
}
