@import './utils/utils';

.nav {
  padding: 20px 0;
}

.nav__list {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.nav__item {
  margin: 0 10px;
  padding: 4px 10px;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-black;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;

    &.active,
    &:hover {
      padding-bottom: 2px;
      color: $color-dark-gray;
      border-bottom: 4px solid $color-black;
    }
  }
}
