.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  li {
    list-style: none;
    padding: 6px 14px;
  }

  a {
    svg {
      transition: stroke 0.3s ease-in-out;

      &:hover {
        stroke: #bbb;
      }
    }
  }

  span {
    display: inline-block;
    text-indent: -999999px;
  }
}
