@import './utils/utils';

.tag-list,
.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    margin-right: 12px;

    a {
      padding: 6px 8px;
      display: block;
      background: $color-light-gray;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.1em;
      white-space: nowrap;

      &:hover {
        background: $color-black;
        color: $color-white;
      }
    }
  }
}
